*{
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    margin: 0;
    padding: 0;
}
a:any-link{
    text-decoration: none;
}
.maincontainer{
    background-color: #e7e8ea;
    background-image: url(../img/bg_blue+wh.png);
    background-repeat:no-repeat;
    background-size:auto;
    background-position: top center;
}
.container{
    margin: auto;
    max-width: 1000px;
    padding-top: 30px;
}
@font-face{
    font-family: ColaborateLight;
    src: url(../fonts/ColabLig.otf);
}
@font-face{
    font-family: ColaborateThin;
    src: url(../fonts/ColabThi.otf);
    font-weight: 100;
}
@font-face{
    font-family: ColaborateMedium;
    src: url(../fonts/ColabMed.otf);
}
@font-face{
    font-family: ColaborateRegular;
    src: url(../fonts/ColabReg.otf);
}
@font-face{
    font-family: ChunkFive;
    src: url(../fonts/ChunkFivePrint.otf);
}
@font-face{
    font-family: Alexandria;
    src: url(../fonts/AlexandriaFLF.ttf);
}
@font-face{
    font-family: Contra;
    src: url(../fonts/CONTRA.ttf);
}
nav{
    display: flex;
    justify-content: space-between;
    color: #d7d7e3;
    margin-bottom: 40px;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 85px;
    width: 550px;
}
nav a:any-link{
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    font-family: ColaborateLight;
}
.navigation {
    display: flex;
    list-style: none;
    color: white;
    
}
.navigation>a{
/*    margin-left: 30px;*/
    font-size: 17px;
    color: #d7d7e3;
}
.navigation>a:hover{
    color: #161628;
    background-color: #d2d2d5;
    padding: 5px 15px;
    border-radius: 3px;
}
.search{
    padding: 40px 43px 23px 30px;
    font-family: ColaborateLight;
    display: flex;
    justify-content: space-between;
    background-color: #e8e9ea;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0px -10px 30px 10px rgba(177, 177, 177, 0.63);
    border-bottom: 2px solid #f7f7f7;
}
.leftsearch h2{
    font-size: 27px;
    font-weight: 100;
    color: #505050;
}
.leftsearch a{
    color: #6a7c96;
}
.rightsearch input{
    width: 250px;
    height: 28px;
    border: 1px solid #c9c9c9;
    border-radius: 50px;
    padding: 5px 15px 5px 25px;
    color: #505050;
}
.one{
    background-image: url(../img/productbg.png);
    display: flex;
    padding: 45px 45px 75px 60px;
}
.leftblock{
    padding: 10px 57px 0 0;
    border-right: 2px solid #d7d6d7;
    display: flex;
    flex-direction: column;
}
.leftblock input, textarea{
    color: #9d9d9d;
    font-family: ColaborateLight;
    font-size: 21px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    box-shadow: inset 0px 0px 67px 0px rgba(0,0,0,0.09);
    resize: none;
    box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.02);
    padding-left: 20px;
    background-color: #eff1f4;
}
.leftblock input{
    height: 37px;
    width: 350px;
    margin-bottom: 25px;
}
.leftblock textarea{
    padding-top: 20px;
}
.leftblock a{
    color: #fff;
    background-color: #2963b6;
    padding: 10px 25px;
    border-radius: 8px;
    font-family: ColaborateRegular;
    width: 100px;
    font-size: 19px;
}
.leftblock a:hover{
    transform: scale(2);
}
.leftblock div{
    text-align: right;
    margin-top: 30px;
}
.rightblock{
    color: #979596;
    font-size: 21px;
    font-family: ColaborateLight;
    padding: 10px 40px 0 55px;
    position: relative;
}
.rightblock p, h3, h4{
    color: #9d9d9d;
    font-size: 17px; 
}
.rightp{
    color: #9d9d9d;
}
.textblock{
    background-color: #ebedf0;
    padding: 10px 35px 30px 35px;
    border-radius: 10px;
    border: 1.5px solid #d6d7d9;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: 34px;
}
.textblock h4:nth-child(4){
    padding-left: 37.5px;
}

.triangle img{
    position: absolute;
    z-index: 3;
    width: 135px;
    top: 212px;
    left: 80px;
}
.map img{
/*    padding-left: 30px;*/
    position: absolute;
    width: 70%;
    left: 92px;
}





























footer{
    background-color: #49495d;
    box-shadow: inset 0px 10px 100px 100px #373746;
}
.footercontainer{
    max-width: 1000px;
    margin: auto;
    color: #acacb2; 
    padding: 25px 30px; 
}
.footertwitter{
    display: flex;
    font-family: Contra;
    line-height: 1.8;
    padding-right: 90px;
}
.footercontainer h4{
    text-align: right; 
    padding-right: 90px;
    font-family: Contra; 
    font-style: italic;
}
.footerforms{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footertwitter img{
    margin-right: 35px;
}
.leftforms{
    margin-left: 15px;
    font-family: ColaborateLight;
    width: 40%;
    line-height: 1.5;
}
.leftforms h2{
    color: white;
    font-size: 25px;
    font-weight: normal;
}
.leftforms p{
    color: #b7b7bb;
    font-size: 14px;
}
.major input{
    background-color: #242439;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 10px 5px 0px #1d1d2f;
    box-shadow: 0px 0.5px 0px 1px rgba(94, 94, 107, 0.79);
    margin-right: 16px;
}
.emailzone{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.footerbutton a{
    background-color: #e7e8ea;
    border-radius: 5px;
    padding: 4.5px 10px;
}
.footericons img{
    margin-top: 20px;
    margin-right: 20px; 
}
.forms input{
    width: 190px;
    margin-bottom: 16.3px
}
.textarea textarea{
    width: 190px;
    height: 100px;
    resize: none;
    background-color: #242439;
    border-radius: 5px;
    padding: 6px 10px;
    border: none;
    box-shadow: inset 0 10px 5px 0px #1d1d2f;
    box-shadow: 0px 0.5px 0px 1px rgba(94, 94, 107, 0.79);
}
.formscontainer{
    display: flex;
}
.rightforms h2{
    font-family: ColaborateLight;
    font-size: 25px;
    color: #e2e2e4;
    margin-bottom: 10px;
}
.forms{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.submit{
    text-align: right;
}
.submit a{
    color: #363648;
    background-color: #e7e8ea;
    padding: 5px 15px;
    border-radius: 5px;
}





@media screen and (max-width: 1000px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dublinapps p{
        display: none;
    }
    .footerforms{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footertwitter img{
        width: 240px;
        height: 100px;
    }
    .leftforms{
        padding: 20px 0;
        margin: auto;
        width: 450px;
        text-align: center;
    }
    .footericons{
        display: flex;
        justify-content: center;
    }
    .rightforms{
        margin: auto;
        padding-bottom: 30px;
    }
    .emailzone{
        display: flex;
        justify-content: center;
    }
    .submit{
        margin-top: 10px;
        display: flex;
        justify-content: center; 
    }
    .search{
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .rightsearch{
        margin-top: 10px;
    }
    .one{
        flex-direction: column-reverse;
    }
    .triangle{
        display: none;
    }
    .leftblock{
        border: none;
        margin: auto;
        margin-top: 10px;
    }
    .rightblock{
        display: flex;
        align-items: center;
        border-bottom: 2px solid #d7d6d7;
        margin-bottom: 10px;
    }
    .map img{
        width: 300px;
        position: relative;
    }
    .one textarea{
/*        width: 43%;*/
    }
    .one label{
        width: 45.5%;
    }
    .leftblock a{
        text-align: center;
    }
}
