*{
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    margin: 0;
    padding: 0;
}
a:any-link{
    text-decoration: none;
}
.maincontainer{
    background-color: #e7e8ea;
    background-image: url(../img/bg_blue+wh.png);
    background-repeat:no-repeat;
    background-size:auto;
    background-position: top center;
}
.container{
    margin: auto;
    max-width: 1000px;
    padding-top: 30px;
}
@font-face{
    font-family: ColaborateLight;
    src: url(../fonts/ColabLig.otf);
}
@font-face{
    font-family: ColaborateThin;
    src: url(../fonts/ColabThi.otf);
    font-weight: 100;
}
@font-face{
    font-family: ColaborateMedium;
    src: url(../fonts/ColabMed.otf);
}
@font-face{
    font-family: ColaborateRegular;
    src: url(../fonts/ColabReg.otf);
}
@font-face{
    font-family: ChunkFive;
    src: url(../fonts/ChunkFivePrint.otf);
}
@font-face{
    font-family: Alexandria;
    src: url(../fonts/AlexandriaFLF.ttf);
}
@font-face{
    font-family: Contra;
    src: url(../fonts/CONTRA.ttf);
}
nav{
    display: flex;
    justify-content: space-between;
    color: #d7d7e3;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 85px;
    width: 550px;
}
nav a:any-link{
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    font-family: ColaborateLight;
}
.navigation {
    display: flex;
    list-style: none;
    color: white;
    
}
.navigation>a{
/*    margin-left: 30px;*/
    font-size: 17px;
    color: #d7d7e3;
}
.navigation>a:hover{
    color: #161628;
    background-color: #d2d2d5;
    padding: 5px 15px;
    border-radius: 3px;
}
.product{
    background-image: url(../img/productbg.png);
    color: #828181;
}
.main{
    margin-top: 40px;
}
.search{
    padding: 40px 43px 23px 30px;
    font-family: ColaborateLight;
    display: flex;
    justify-content: space-between;
    background-color: #e8e9ea;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0px -10px 30px 10px rgba(177, 177, 177, 0.63);
    border-bottom: 2px solid #f7f7f7;
}
.leftsearch h2{
    font-size: 27px;
    font-weight: 100;
    color: #505050;
}
.leftsearch a{
    color: #6a7c96;
}
.rightsearch input{
    width: 250px;
    height: 28px;
    border: 1px solid #c9c9c9;
    border-radius: 50px;
    padding: 5px 15px 5px 25px;
    color: #505050;
}
h2{
    font-size: 27px;
    color: #505050;
    font-family: ColaborateLight;
    font-weight: 100;
}
.light{
    color: #6a7c96;
    font-family: ColaborateLight;
    font-size: 15px;
}

.product>h2{
    padding-top: 35px;
    text-align: center;
}
.product>h3{
    text-align: center;
}
.passages{
    display: flex;
    margin: 10px 0 80px 80px;
}
ul{
    list-style: none;
    line-height: 2;
}
ul img{
    margin-right: 10px;
}
.passagestext ul{
    padding: 30px 0 0 30px;
}
.top{
    background-image: url(../img/stepbg.png);
    background-repeat: no-repeat;
    width: 770px;
    margin: auto;
    margin-bottom: 40px;
}
.numicon{
    background-color: #babbc4;
    border: 1px solid rgba(206, 206, 206, 0.72);
    box-shadow: inset 22px -94px 88px 31px rgba(165, 165, 165, 0.05);

    width: 35px;
    height: 35px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: ColaborateLight;
    font-size: 20px;
    
}
.line{
    position: relative;
    margin: auto;
    width: 392px;

}
.variations{
    width: 392px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -10px;
}
.numicon:hover{
    transform: scale(1.25);
    background-color: #134087;
    border: 1px solid #7ea6df;
    color: #fff;
    box-shadow: 0px 0px 110px -41px rgba(0,0,0,0.45);
}
.top>h2{
    text-align: center;
    padding-top: 20px;
}
.top>h3{
    text-align: center;
}
.buttons{
    margin: auto;
    width: 58%;
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
}
.buttons a:hover{
    transform: scale(1.03);
}
.playnow{
    text-align: left;
    padding: 16px 45px  0 45px;
}
.playnow h2{
    color: #828181;
    padding: 0;
    margin: 0;
}
.playnow p{
    padding-top: 10px;
    font-family: ColaborateLight;
    line-height: 1.4;
    color: #828181;
}
.ipad{
    display: flex;
    padding: 30px 20px 35px 50px;
}

.ipad h2{
    text-align: center;
    color: #828181;
}
.ipad ul{
    padding: 15px 0 0 60px;
    font-size: 15px;
    line-height: 2;
}
.ipadbuttons{
    padding-top: 25px;
    display: flex;
    justify-content: center;
}
.ipadbuttons a{
    width: 130px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: ColaborateRegular;
    box-shadow: inset 0px -139px 74px -17px rgba(77, 77, 77, 0.12);
    font-weight: 100;
    border-radius: 9px;
}
.button1{
    background-color: #2964b8;
    margin-right: 20px;
}
.button2{
    background-color: #5e4d9c;
}
.ipadbuttons a:hover{
    transform: scale(1.03);
box-shadow: 0px 46px 74px -17px rgba(0,0,0,0.24);
}
.loremversions{
    float: right; 
    width:34%;
}


















footer{
    background-color: #49495d;
    box-shadow: inset 0px 10px 100px 100px #373746;
}
.footercontainer{
    max-width: 1000px;
    margin: auto;
    color: #acacb2; 
    padding: 25px 30px; 
}
.footertwitter{
    display: flex;
    font-family: Contra;
    line-height: 1.8;
    padding-right: 90px;
}
.footercontainer h4{
    text-align: right; 
    padding-right: 90px;
    font-family: Contra; 
    font-style: italic;
}
.footerforms{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footertwitter img{
    margin-right: 35px;
}
.leftforms{
    margin-left: 15px;
    font-family: ColaborateLight;
    width: 40%;
    line-height: 1.5;
}
.leftforms h2{
    color: white;
    font-size: 25px;
    font-weight: normal;
}
.leftforms p{
    color: #b7b7bb;
    font-size: 14px;
}
.major input{
    background-color: #242439;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 10px 5px 0px #1d1d2f;
    box-shadow: 0px 0.5px 0px 1px rgba(94, 94, 107, 0.79);
    margin-right: 16px;
}
.emailzone{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.footerbutton a{
    background-color: #e7e8ea;
    border-radius: 5px;
    padding: 4.5px 10px;
}
.footericons img{
    margin-top: 20px;
    margin-right: 20px; 
}
.forms input{
    width: 190px;
    margin-bottom: 16.3px
}
.textarea textarea{
    width: 190px;
    height: 100px;
    resize: none;
    background-color: #242439;
    border-radius: 5px;
    padding: 6px 10px;
    border: none;
    box-shadow: inset 0 10px 5px 0px #1d1d2f;
    box-shadow: 0px 0.5px 0px 1px rgba(94, 94, 107, 0.79);
}
.formscontainer{
    display: flex;
}
.rightforms h2{
    font-family: ColaborateLight;
    font-size: 25px;
    color: #e2e2e4;
    margin-bottom: 10px;
}
.forms{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.submit{
    text-align: right;
}
.submit a{
    color: #363648;
    background-color: #e7e8ea;
    padding: 5px 15px;
    border-radius: 5px;
}






@media screen /*and (min-width: 700px)*/ and (max-width: 1130px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dublinapps p{
        display: none;
    }
    .passages{
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }
    .passagesipad{
        margin: auto;
        margin-top: 20px;
    }
    .playnow{
        width: 80%;
        margin: auto;
    }
    .playnow h2{
        text-align: center;
    }
    .ipad{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #ipadmid{
/*        width: 40%;*/
    }
    .ipad>div:nth-child(1){
        margin: auto;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 700px){
    .footerforms{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footertwitter img{
        width: 140px;    
    }
    .leftforms{
        padding: 20px 0;
        margin: auto;
        width: 450px;
        text-align: center;
    }
    .footericons{
        display: flex;
        justify-content: center;
    }
    .rightforms{
        margin: auto;
        padding-bottom: 30px;
    }
    .emailzone{
        display: flex;
        justify-content: center;
    }
    .submit{
        margin-top: 10px;
        display: flex;
        justify-content: center; 
    }
    .search{
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .rightsearch{
        margin-top: 10px;
    }
}



